* {
   box-sizing: border-box;
   }
   a {
      text-decoration: none;
      color: #00F;
      }
      a:hover {
         text-decoration: underline;
         }
      a:visited {
         color: #00F;
         }
   a[href^="#"], a[href^="#"]:visited {
      color: #008;
      }

body {
   font-size: 24px;
   }
   article {
      max-width: 900px;
      margin: 0 auto;
      }
      article img {
         max-width: 900px;
         }

ol, ul {
   margin: 1ex 0;
   }
   .note li {
      font-size: 20px;
      }
dt {
   font-weight: bold;
   margin-top: 1ex;
   }
   dd {
      margin-left: 0;
      padding-left: 2em;
      }

/* Generic ToC styles */
#toc ul {
   list-style-type: none;
   padding-left: 26px;
   }
   #toc ol, #toc ul {
      margin: 0;
      }

/* Header styles */
details[h] > summary {
   font-weight: bold;
   margin: 1em 0;
   }
   details[h=h2] > summary {
      font-size: 40px;
      }
   details[h=h3] > summary {
      font-size: 34px;
      }
   details[h=h4] > summary {
      font-size: 28px;
      }

/* Highlight hash target */
details:target {
   border-left: 2px solid blue;
   }
dt:target, dt:target + dd {
   border-left: 2px solid blue;
   }

/* Put ToC on left side on desktop */
@media (min-width: 1340px) {
   #toc {
      box-shadow: 3px 0 5px 0 #888;
      left: 0;
      max-height: 100vh;
      min-height: 100vh;
      overflow-y: auto;
      position: fixed;
      top: 0;
      width: 400px;
      }
   article {
      margin: 0 0 0 440px;
      }
}